<footer class="bg-dark text-center py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <p class="text-white mb-0">
          &copy; 2023 <a href="https://www.theodinproject.com/" target="_blank" rel="noopener noreferrer" class="text-white">The Odin Project</a>. All rights reserved.
        </p>
        <p class="text-white mb-0">
          Made by <a href="https://github.com/ckec" target="_blank" rel="noopener noreferrer" class="text-white">ckec</a>
        </p>
      </div>
    </div>
  </div>
</footer>